{{> header}}
{{> navbar}}
  <!--Showcase-->
  <style>
    .showcase__container{
      background-image: url('/uploads/{{showcaseData.image}}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>

  <!-- HOME-SHOWCASE -->
  <div class="showcase__container">
    <div class="showcase__content">
      <h1 class="showcase__title">{{showcaseData.title}}</h1>
      <p class="showcase__para">{{showcaseData.description}}</p>
      <button class="showcase__btn">Read More</button>
    </div>
  </div>

  <!-- HOME-BODY -->
  <div class="homeBody__container">
    <div class="mostPopular__container">
      <h2 class="h2">Most Popular Blogs</h2>

      {{#each mostPopular}}
        <!--BLOG-CARD-->
        <div class="blogCard__container--small">
          <div class="blogCard__imgContainer--small">
            <img src="uploads/{{image}}" class="blogCard__img--small" />
          </div>

          <div class="blogCard__contentContainer--small">
            <h4 class="h4">{{title}}</h4>
            <p class="para-text py-10">{{description}}</p>
            <a href="/blog/{{_id}}" class="blogCard__btn">Read More</a>
          </div>
        </div>
      {{/each}}

      <!--BLOG-CARD
      <div class="blogCard__container--small">
        <div class="blogCard__imgContainer--small">
          <img src="img/blogCard_img2.png" class="blogCard__img--small" />
        </div>

        <div class="blogCard__contentContainer--small">
          <h4 class="h4">Imperial Palace</h4>
          <p class="para-text py-10">The Tokyo Imperial Palace is the main residence of the Emperor of Japan. It is a large park-like area located in the Chiyoda district of the Chiyoda ward of Tokyo and contains several buildings including ....</p>
          <button class="blogCard__btn">Read More</button>
        </div>
      </div>


      <div class="blogCard__container--small">
        <div class="blogCard__imgContainer--small">
          <img src="img/blogCard_img3.png" class="blogCard__img--small" />
        </div>

        <div class="blogCard__contentContainer--small">
          <h4 class="h4">Scottish Highlands</h4>
          <p class="para-text py-10">The Scottish Highlands is the only area in the British Isles to have the taiga biome as it features concentrated populations of Scots pine forest: see Caledonian Forest. It is the most mountainous part of the United Kingdom. ....</p>
          <button class="blogCard__btn">Read More</button>
        </div>
      </div>
      -->

      <a href="/blog" class="link h4">Click here to read more articles<a>
    </div>

    <!--RECENTLY-UPDATED-->
    <div class="recentlyUpdated__container">
      <h2 class="h2">Recently Updated</h2>

      <div class="blogCard__container--vertical">
        <div class="blogCard__imgContainer--vertical">
          <img src="uploads/{{latestData.image}}" class="blogCard__img--vertical" />
        </div>

        <div class="blogCard__contentContainer--vertical">
          <h4 class="h4">{{latestData.title}}</h4>
          <p class="para-text py-10">{{latestData.description}} ....</p>
          <a href="/blog/{{latestData._id}}" class="blogCard__btn">Read More</a>
        </div>
      </div>

    </div>
  </div>

{{> footer}}
